<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hello Bulma!</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.2/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>

    <style>
    	.hero-body{
    		height:100%;
    	}
    	body{	background-color: black;
    		}
    	.box{	background-color: black;
    		}
    	h1{color: white;}
    	p{color: white;}
    </style>

  </head>
  <body>

  <section class="hero is-fullheight">
  <div class="hero-body">
  <div class="container is-fluid">
    <div class="tile">
    	<div class="tile is-ancestor">
    		<div class="tile is-4 is-vertical is-parent">
    			<div class="tile is-child box">
    				<h1 class="title has-text-white">
        				Hi Annoor!
      				</h1>
      				<p class="subtitle has-text-white">
        				It's finally Summer!
      				</p>
    			</div>
    			<div class="tile is-child box">
    				<p class="subtitle has-text-white">
    					The Weather Today Is Nice.
    				</p>
    			</div>
    			<div class="tile is-child box">
    				<p class="subtitle has-text-white">
    					Traffic is Light Today.
    				</p>
    			</div>
    		</div>
    		<div class="tile is-parent">
    			<div class="tile is-child box">
    				<h1 class="title has-text-white">
    					Here's a Summary Of Your Day
    				</h1>
    				<ul class="has-text-white">
    					<li>Program</li>
    					<li>Eat</li>
    					<li>Play Video Games</li>
    				</ul>
    			</div>
    		</div>
    	</div>
    </div>
  </div>
  </div>
  </section>
  </body>
</html>